:root {
    --primary-color: #86CAE9;
    --secondary-color: #81969C;
    --accent1-color: #D14339;
    --accent2-color: #8D423F;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #D14339;
    background-color: white;
}

nav a:hover {
    color: blue;
}

.logo-box {
    text-align: center;
}

.logo-box img {
    width: 120px;
}


h2 {
    color: var(--accent1-color);
    clear: both;
}

.hero, .home-hero {
    position: relative;
    width: 100%;
    
}

.home-hero img, .hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-title {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40px;
    background-color: var(--secondary-color);
    opacity: 0.8;
}

.home-hero-title {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 10px;
    background-color: black;
    opacity: 0.75;
    font-family: "IBM Plex Serif";
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 800;
}

.hero-title h1 {
    font-family: "IBM Plex Serif";
    font-size: 2rem;
    color: black;
    font-weight: 800;
}

.hero p {
    font-size: 20px;
    color: white;
    
}

article {
    display: block;
    width: 60%;
    height: auto;
    text-align: left;
    position: absolute;
    left: 18%;
    top: 200px;
    background: var(--accent2-color);
    opacity: 0.8;
    padding: 1em 2em; 
}

.hero article p {
    color: white;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;   
}


.history-section {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    align-items: center;
    padding: 1rem;
}


.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.services img {
    width: 100%;
    height: auto;
    border: 2px solid var(--accent1-color);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #81969C;
}

.call-to-action img {
    /* width: 100%; */
    border: 2px solid var(--accent1-color);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #81969C;
    grid-column: 1/3;
}

.call-to-action {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 2rem;
    background-color: var(--primary-color);
}

.call-to-action figure {
    position: relative;
}

.call-to-action figcaption {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    background-color: var(--accent1-color);
    padding: 8px;
    border-radius: 15px;
    top: 330px;
    left: 50px;

}

figure .btn-join-us {
    position: absolute;
    width: 30%;
    top: 330px;
    left: 380px;
    background: rgb(84, 182, 228);
}

.call-to-action form {
    width: 400px;
    height: 350px;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: black;
    display: flex;
    flex-direction: column;

}

.call-to-action .fullname input {
    width: 90%;
}

.call-to-action .email input {
    width: 90%;
}

.history-section img {
    width: 100%;
    height: auto;
    grid-column: 2/4;
}

.history-section p {
    padding: 1rem;
}

section h2 {
    clear: both;
    grid-column: span 4;
    text-align: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.adventure h2 {
    grid-column: span 5;
}

.adventure img {
    width: 100%;
    
}

/* styles for contact page */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
}

.contact-details {
    text-align: center;
}

.contact-details a {
    color: black;
    background-color: white;
    text-decoration: none;
}

.profile {
    display: flex;
}

.profile img {
    width: 150px;
}

.map iframe {
    border: none;
    margin-left: 2rem;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: black;
    display: grid;
    
}

form h2 {
    text-align: center;
}

.call-to-action fieldset, fieldset {
    display: grid;
    gap: 1rem;
    padding: .5em;
    margin: 1rem;
    border: 1px solid grey;

}

legend {
    padding: .5rem;
    color: var(--accent1-color);
    font-size: 1.5rem;
}

label, input, button, select, textarea {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
}

input[type="checkbox"], input[type="radio"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.purpose, .message {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    
}

.fullname input {
    width: 70%;
}

.email input {
    width: 75%;
}

.message textarea {
    height: 150px;
}

button {
    margin: 0 auto;
    width: 80%;
    color: black;
    background-color: var(--accent1-color);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 800;
}

button:hover {
    background-color: green;
    color: black;
    cursor: pointer;
}
/* Footer */
footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-top: 1px solid black;
    margin-top: 1rem;
    
}

footer p {
    text-align: center;
}

.sociallinks {
    display: flex;
    align-items: center;
    gap: 5px;

}
.sociallinks a {
    text-decoration: none;
    
}

.sociallinks a img {
    width: 30px;
    
}